@media (max-width: 1200px){
    .container{
        width: 870px;
    }
    .header{
        position: relative;
        &.active{
            .wrapper{
                left: 0;
                transition: 0.6s all;
                align-items: flex-start;
                width: 32%;
                height: 100vh;
                background-color: #282828;
                display: flex;
                flex-direction: column;
                justify-content: unset;
                row-gap: 20px;
                padding: 20px;
                z-index: 10;
                .header__menu{
                    flex-direction: column;
                    margin-top: 40px;
                    row-gap: 40px;
                }
                .header__button{
                    width: 100%;
                    margin-top: 50px;
                }
                .header__menu{
                    width: 100%;
                }
                .header__logo-text-title{
                    font-size: 18px;
                }
                .header__logo-text-descr{
                    font-size: 14px;
                }
            }
            .backg-them{
                left: 0;
            }
        }
        .backg-them{
            display: block;
            position: absolute;
            transition: 0.6s all;
            top: 0;
            left: -1000%;
            width: 100%;
            height: 100vh;
            background-color: #00000059;
            z-index: 9;
        }
        .wrapper{
            position: absolute;
            left: -1000%;
            top: 0;
            .close{
                display: block;
                position: absolute;
                cursor: pointer;
                top: 15px;
                right: 15px;
                width: 25px;
                img{
                    width: 100%;
                }
            }
        }
        .hamburger{
            display: block;
            position: absolute;
            cursor: pointer;
            top: 17px;
            right: 20px;
            img{
                width: 45px; 
            }
        }
        &__media-logo{
            display: flex;
            align-items: center;
            column-gap: 15px;
            &-text{
                display: flex;
                flex-direction: column;
                &-title{
                    font-size: 20px;
                    color: #fff;
                }
                &-descr{
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
    .me{
        &__wrapper{
            grid-template-columns: repeat(2, 425px);
            grid-template-rows: repeat(4, 115px);
            .horizontal{
                grid-column: 2 / 3;
                grid-row: 1 / 3;
                padding-top: 20px;
            }
            .vertical{
                grid-column: 1 / 3;
                grid-row: 4 / 5;
                padding-top: 13px;
                .descr{
                    margin-top: 10px;
                }
            }
            .vertical-two{
                grid-row: 3 / 4;
                padding-top: 13px;
                .descr{
                    margin-top: 10px;
                }
            }
        }
        
    }
    .application{
        &__wrapper{
            flex-direction: column;
            width: 580px;
            justify-content: center;
            row-gap: 20px;
        }
    }
    .footer{
        .wrapper{
            flex-wrap: wrap;
            row-gap: 30px;
        }
        &__logo{
            &-text{
                &-title{
                    font-size: 18px;
                }
                &-descr{
                    font-size: 16px;
                }
            }
            .lines__logo{
                width: 80%;
            }
            .sublines{
                font-size: 14px;
            }
        }
    }
  
}
@media (max-width: 992px){
    .container{
        width: 95%;
    }
    .header{
        padding: 15px 20px;
    }
    .me{
        &__wrapper{
            grid-template-columns: repeat(2, 345px);
            grid-template-rows: repeat(4, 135px);
        }
    }
}
@media (max-width: 768px){
    .header{
        &__logo{
            &-text{
                &-title{
                    font-size: 18px;
                }
                &-descr{
                    font-size: 16px;
                }
            }
        }
        .wrapper{
            &.active{
                width: 300px;
            }
        }
    }
    .main{
        &__title{
            font-size: 25px;
        }
    }
    .me{
        &__title{
            font-size: 25px;
        }
        &__wrapper{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 145px);
            .photo{
                grid-row: 1 / 3;
            }
            .horizontal{
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                padding-top: 20px;
            }
            .vertical{
                grid-column: 1 / 2;
                grid-row: 5 / 5;
                padding-top: 20px;
                .descr{
                    margin-top: 10px;
                }
            }
            .vertical-two{
                grid-row: 4 / 5;
                padding-top: 20px;
                .descr{
                    margin-top: 10px;
                }
            }
        }
        
    }
    .application{
        &__title{
            font-size: 25px;
        }
        &__text{
            font-size: 16px;
            text-align: center;
        }
        &__wrapper{
            width: 100%;
        }
        &__items{
            width: 100%;
           

            &-child{
                width: 92%;
            }
        }
        &__button{
            width: 92%;
        }
    }
    .advent{
        &__title{
            font-size: 25px;
        }
    }
}
@media (max-width: 567px){
    .header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        padding: 0;
        height: auto;
        &__media-logo{
            padding: 15px 20px;
        }
    }
    .main{
        &__title{
            width: 100%;
        }
        &-checkbox{
            top: 100px;
        }
    }
    .me{
        .me__wrapper {
            grid-template-rows: repeat(5,135px);
        }
        
        
    }
    
    .application{
        &__text{
            text-align: left;
        }
        &__items{
            
        }
        .application__button{
            width: 100%;
            div{
                width: 100px;
            }
        }
    }
}
@media (max-width: 480px){
    .header{
        .wrapper{
            width: 300px;
        }
        &__media-logo{
            margin-top: 6px;
            img{
                width: 30px;
            }
        }
        &__menu{
            &-link{
                font-size: 14px;
            }
        }
        &__button{
            font-size: 14px;
        }
        &__logo{
            
            &-text{
                &-title{
                    font-size: 16px;
                }
                &-descr{
                    font-size: 12px;
                }
            }
        }
        .hamburger{
            top: 23px;
            right: 13px;
            img{
                width: 35px;
            }
        }
    }
    .header{
        &.active{
            .wrapper{
                width: 75%;
            }
        }
    }
    .main{
        height: 75vh;
        &__title{
            font-size: 20px;
            margin-top: 50px;
        }
        &__wrapper{
            width: 285px;
            &-btn{
                height: 40px;
                a{
                    font-size: 12px;
                }
            }
            &-me{
                font-size: 12px;
            }
        }
        &-checkbox{
            &__text{
                font-size: 10px;
            }
        }
    }
    .me{
        &__title{
            font-size: 25px;
        }
        &__wrapper{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 165px);
            &__task{
                .title{
                    font-size: 16px;
                }
                .descr{
                    font-size: 14px;
                }
            }
            .photo{
                grid-row: 1 / 3;
            }
            .horizontal{
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                padding-top: 20px;
            }
            .vertical{
                grid-column: 1 / 2;
                grid-row: 5 / 5;
                padding-top: 20px;
                .descr{
                    margin-top: 10px;
                }
            }
            .vertical-two{
                grid-row: 4 / 5;
                padding-top: 20px;
                .descr{
                    margin-top: 10px;
                }
            }
        }
        
    }
    .application{
        &__title{
            font-size: 25px;
        }
        &__text{
            font-size: 16px;
            text-align: left;
        }
        &__items{
            &-child{
                width: 88%;
                height: 365px;
                &_descr{
                    .description{
                        font-size: 13px;
                    }
                }
                &_attrubutes{
                    &-money{
                        font-size: 13px;
                    }
                }
                &_name{
                    font-size: 14px;
                }
                .logo__company{
                    width: 100px;
                }
            }
        }
        .application__button{
           div{
            width: 80px;
           }
        }
    }
    .advent{
        padding: 35px 0;
        &__title{
            font-size: 25px;
        }
        &__wrapper{ 
            grid-template-rows: repeat(2, 225px);
            &-item{
                .title{
                    font-size: 16px;
                }
                .descr{
                    font-size: 14px;
                }
            }
        }
    }
    .footer{
        .wrapper{
            column-gap: 10px;
        }
        &__logo{
            &-text{
                &-title{
                    font-size: 16px;
                }
                &-descr{
                    font-size: 14px;
                }
            }
            .lines__logo{
                height: 1px;
            }
            .sublines{
                font-size: 12px;
            }
        }
        &__navigation{
            &-title{
                font-size: 16px;
            }
            &-link{
                font-size: 14px;
            }
        }
        &__police{
            &-title{
                font-size: 16px;
            }
           a{
                font-size: 14px;
            }
        }
       &__subfooter{
            .lines{
                margin-top: 30px;
            }
            .text{
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 400px){
    .header{
        .wrapper{
            &.active{
                width: 70%;
            }
        }
    }
    .main{
        &__title{
            font-size: 18px;
            width: 100%;
        }
        &__wrapper{
            &-btn{
               a {font-size: 14px;}
            }
            &-me{
                font-size: 14px;
            }
        }
        &-checkbox{
            &__text{
                font-size: 12px;
            }
        }
    }

    .me{
        &__title{
            font-size: 25px;
        }
        &__wrapper{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 165px);
            &__task{
                .title{
                    font-size: 16px;
                }
                .descr{
                    font-size: 14px;
                }
            }
            .photo{
                grid-row: 1 / 3;
            }
            .horizontal{
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                padding-top: 20px;
            }
            .vertical{
                grid-column: 1 / 2;
                grid-row: 5 / 5;
                padding-top: 20px;
                .descr{
                    margin-top: 10px;
                }
            }
            .vertical-two{
                grid-row: 4 / 5;
                padding-top: 20px;
                .descr{
                    margin-top: 10px;
                }
            }
        }
        
    }
    .application{
        padding: 40px 0;
        &__title{
            font-size: 20px;
        }
        &__text{
            font-size: 14px;
            text-align: left;
        }
        &__items{
            &-child{
                width: 88%;
                height: 365px;
                &_descr{
                    .description{
                        font-size: 12px;
                    }
                }
                &_attrubutes{
                    &-money{
                        font-size: 12px;
                    }
                }
                &_name{
                    font-size: 12px;
                }
            }
        }
        .application__button{
           div{
            width: 70px;
           }
        }
    }
    .advent{
        padding: 35px 0;
        &__title{
            font-size: 20px;
        }
        &__wrapper{
            grid-template-rows: repeat(2, 225px);
            &-item{
                .title{
                    font-size: 14px;
                }
                .descr{
                    font-size: 12px;
                }
            }
            .one{
                height: 160px;
            }
            .two{
                height: 160px;
            }
        }
    }
    .footer{
        &__navigation{
            &-title{
                font-size: 16px;
            }
            &-link{
                font-size: 14px;
            }
        }
        &__police{
            &-title{
                font-size: 16px;
            }
           a{
                font-size: 14px;
            }
        }
       &__subfooter{
            .lines{
                margin-top: 30px;
            }
            .text{
                font-size: 12px;
            }
        }
    }
}